@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body, html {
  height: 100%;
  background-color: #eee;
}

#root {
  height: 100%;
}

.active {
  color:rgba(45, 137, 229, .9) !important;
}

.special-link {
  font-family: 'Montserrat';
}

.success-message {
  color: rgba(0,0,0,.5);
  font-family: 'Montserrat';
}

.content {
  margin-bottom: 100px;
}

.full {
  height: 100%;
}

.nav-span {
  margin-top: 60px !important;
  display: block;
}

.noviracun {
  cursor: pointer;
}

.icon-nav {
  font-size: 20px !important;
}

.c-invisible {
  background-color: transparent !important;
  border-style: none !important;
  outline: none !important;
}

.c-invisible:hover {
  background-color: transparent;
  border-style: none;
}

.dropdown-item {
  font-family: 'Open Sans';
  font-size:14px;
  color: rgba(0,0,0,.6);
}


.special-bg {
  background: url(bg.jpg), linear-gradient(to right, #2F80ED, #56CCF2) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.bg-primary {
  background-color: #2d89e5;
}

.color-blue {
  font-family: 'Montserrat';
  color: #2d89e5;
  font-size: 30px;
  margin-right: 30px;
}

.nav-link {
  color:rgba(0,0,0,.5);
  font-size: 14px;
  transition: .2s;
  margin-left: 15px;
  margin-right: 15px;
  font-family: 'Montserrat';
}

.nav-link:hover {
  color: rgba(0,0,0,.6);
}


a {
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 18px
}

h1 {
  font-family: 'Montserrat';
  color: #fff;
  font-size: 100px;
}

h2 {
  font-family: 'Montserrat';
}

h3 {
  font-family: 'Montserrat';
}

p {
  font-family: 'Open Sans';
  font-size: 18px;
}

.text-white {
  font-family: 'Raleway';
  font-size: 25px;
}

.c-heading {
  margin-top: 100px;
}

.c-favorite {
  color: rgba(0,0,0,.5);
  margin-top:7px;
}

.link-blue {
  color: #2d89e5;
}

.no-questions {
  color: rgba(0,0,0,.7);
  font-family: 'Open Sans';
}

.card {
  border-radius: 5px;
  border-style: none;
  box-shadow: 0 0 10px 10px rgba(0,0,0,.02);
}

.c-input {
  border-style: none;
  border-bottom-style: solid;
  border-radius: 0px;
}

.nav-img {
  border-radius: 50%;
}

.c-nav-input {
  border-color: rgba(0,0,0,.2);
  border-radius: 5px;
  border-style: solid;
  border-bottom-style: solid;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.btn-primary {
  background-color: #2d89e5;
  font-family: 'Open Sans';
  padding: 10px;
}

.btn-danger {
  font-family: 'Open Sans';
  padding: 10px;
}

.form-text {
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
}

.form-control:focus {
  transition: .2s;
  border-color: #2d89e5;
  -webkit-box-shadow: none;
  box-shadow: none;
}