@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

body, html {
  background: url(bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-family: 'Montserrat';
  color: #fff;
  font-size: 100px;
}

h2 {
  font-family: 'Montserrat';
}

h3 {
  font-family: 'Montserrat';
}

p {
  font-family: 'Open Sans';
  font-size: 18px;
}

.text-white {
  font-family: 'Raleway';
  font-size: 25px;
}

.c-heading {
  margin-top: 100px;
}

.card {
  border-radius: 10px;
  border-style: none;
  padding: 10px;
}

.c-input {
  border-style: none;
  border-bottom-style: solid;
  border-radius: 0px;
  margin-bottom: 30px;
}

.btn-primary {
  background-color: #2d89e5;
  font-family: 'Open Sans';
  padding: 10px;
}

.form-text {
  text-align: center;
  font-size: 13px;
  margin-top: 20px;
}

.form-control:focus {
  transition: .2s;
  border-color: #2d89e5;
  -webkit-box-shadow: none;
  box-shadow: none;
}